//@import "compass";

$breakpoint-mobile-px-sans: 768;
$breakpoint-mobile: $breakpoint-mobile-px-sans * 1px;
$breakpoint-tablet-px-sans: 1024;
$breakpoint-tablet: $breakpoint-tablet-px-sans * 1px;
$breakpoint-font-reduction-px-sans: 1080;
$breakpoint-font-reduction: $breakpoint-font-reduction-px-sans * 1px;


$color-white: #fff;
$color-black: #000;
$color-blue-linkedin: #0177b5;
$color-red-pinterest: #cc2128;
$color-red-youtube: #cd2227;
$color-blue-twitter: #5fa9dd;
$color-blue-instagram: #3f729b;
$color-blue-facebook: #3b5999;
$color-powered-hover:#bc6c50;
$color-grey-font: #7e7774;

$font-size-body-default-px-sans: 16;
$font-size-body-default-px: $font-size-body-default-px-sans +px;


$duration-transition-default-ms: 400ms;
$duration-transition-default: $duration-transition-default-ms;
$duration-transition-dp-ms: 250ms;
$duration-transition-long-ms: 1000ms;
$duration-transition-short-ms: 250ms;

$max-width-page-content-px-sans: 1024;

$media-mobile: '(max-width:'+$breakpoint-mobile+")";
$media-larger-than-mobile: '(min-width:'+$breakpoint-mobile+')';
$media-tablet: '(min-width:'+$breakpoint-mobile+') + (max-width:'+$breakpoint-tablet+")";
$media-larger-than-tablet: '(min-width:'+$breakpoint-tablet+')';
$media-font-reduction: '(max-width:'+$breakpoint-font-reduction+')';

$ratio-font-reduction: .7;

$timing-transition-dp: cubic-bezier(0.52, -0.03, 0.51, 1.415);
$timing-transition-default: linear;

$url-500: url('http://placehold.it/500x500');
$url-480-wide: url('http://placehold.it/480x240');
$url-1920: url('http://placehold.it/1920x1080');
$url-960: url('http://placehold.it/960x960');

$char-icon-email: '\e802';
$char-icon-fb: '\e801';
$char-icon-ln: '\e802';
$char-icon-tw: '\e800';
$char-icon-tel: '\e804';
$char-icon-in: '\e805';
$char-icon-yt: '\e806';
$char-icon-pi: '\e807';
$char-icon-default: $char-icon-email;